<h1>Create an Event</h1>

<div class="create">
    <form method="POST" action="/events/create">
        <label for="eventName">Event Name</label>
        <span><input type="text" id="eventName" name="eventName" required></span>

        <label for="eventDescription">Event Description</label>
        <span><textarea id="eventDescription" name="eventDescription" style="height:200px" required></textarea></span>

        <label for="eventIMG">Event Image URL</label>
        <span><input type="text" id="eventIMG" name="eventIMG" placeholder="https://" required></span>

        <label for="eventStart">Event Start</label>
        <span><input type="datetime-local" id="eventStart" name="eventStart" required></span>

        <label for="eventEnd">Event End</label>
        <span><input type="datetime-local" id="eventEnd" name="eventEnd" required></span>

        <br> <br>

        <label for="eventAddress">Address</label>
        <span><input type="text" id="eventAddress" name="eventAddress" required></span>

        <label for="eventState" >State</label>
        <span><select name="eventState" required>
            <option value="" hidden selected>Select a State</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District of Columbia">District of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
        </select></span>

        <label for="eventCity">City</label>
        <span><input type="text" id="eventCity" name="eventCity" required></span>

        <br> <br>

        <label for="eventQuantity">Ticket Quantity</label>
        <span><input type="number" id="eventQuantity" name="eventQuantity" min="1" step="1" placeholder="1" required></span>

        <label for="ticketPrice">Ticket Price</label>
        <span><input type="number" placeholder="$0.00" step="0.01" id="ticketPrice" name="ticketPrice" placeholder="$0.00" required></span>

        <input type="submit" value="Submit" style="float: right">
    </form>
</div>

