<!DOCTYPE HTML>

<html>
<head>
    <title>FreeTix</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body id="top">

<div class="header">
    <a href="/events" class="logo">FreeTix</a>
    <a href="/users/logout">Logout</a>
    <div class="header-right">
        <a href="/events">Browse Events</a>
        <a href="/events/hosting">My Events</a>
        <a href="/tickets">My Tickets</a>
        <a href="/events/create">Create an Event</a>
    </div>
</div>

<!-- Main -->
<div id="main">
    <div class="inner">

        <%- include('functions/functions'); %>
        <%- body %>

    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>FreeTix</h2>
        <p>FreeTix is a commission free event management and ticketing web app that is designed for both event planners and event go-ers that allow users to plan events, sell and buy tickets, as well as search for events in their cities. Each user (through registration and login authentication) is able to manage their own events and view all the tickets that they have purchased. </p>
        <p class="copyright">&copy; 2020 Timothy Zhou.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>