<h1>Login to an Account</h1>

<div class="auth">
    <form method="GET" action="/login">
        <label for="username">Username</label>
        <span><input type="text" id="username" name="username"></span>

        <label for="password">Password</label>
        <span><input type="password" id="password" name="password"></span>

        <input type="button" value="Register" style="float: right" onclick="window.location='/register';">
        <input type="submit" value="Login" style="float: right">

    </form>
</div>