<h1>Register an Account</h1>

<div class="auth">
    <form method="POST" action="/register">
        <label for="email">Email</label>
        <span><input type="text" id="email" name="email"></span>

        <label for="password">Password</label>
        <span><input type="password" id="password" name="password"></span>

        <br> <br>

        <label for="firstName">First Name</label>
        <span><input type="text" id="firstName" name="firstName"></span>

        <label for="lastName">Last Name</label>
        <span><input type="text" id="lastName" name="lastName"></span>

        <br> <br>

        <label for="city">City</label>
        <span><input type="text" id="city" name="city"></span>

        <label for="state">State</label>
        <span><input type="text" id="state" name="state"></span>

        <input type="submit" value="Register" style="float: right">
    </form>
</div>
